.App {
  text-align: center;
}
.grid {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
}
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}